* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    color: black;
}

body {
    background-color: beige;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: blanchedalmond;
}